:root {
    /* ## Colors */

    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
    margin: 0;
    padding: 0;

    font-family: "Manrope", sans-serif;
    background-color: var(--Light-Grayish-Blue);
}

.container {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 5px;
    width: 310px;
    box-shadow: 0 4px 8px hsl(212, 23%, 69%);
}

.card .card-header {}

.card .card-header img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

/* CARD BODY  */
.card .card-body {
    display: flex;
    flex-direction: column;
}

.card .card-body h2 {
    font-size: 1rem;
    width: 300px;
    color: var(--Very-Dark-Grayish-Blue);
    padding: 0 20px;
}

.card .card-body p {
    color: var(--Desaturated-Dark-Blue);
    font-size: .85rem;
    font-weight: 500;
    padding: 0 20px;
}

.card .card-body .card-body-content {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    position: relative;
}

.card .card-body .card-body-content .group.first {
    padding: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: space-between;
    height: 40px;
    /* width: 100%; */
}

.card .card-body .card-body-content .group.first .group-child.first {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.card .card-body .group .img-avatar {
    width: 40px;
    border-radius: 50%;
}

.card .card-body .group .group-info {
    display: flex;
    flex-direction: column;
}

.card .card-body .group .group-info .name {
    font-size: 0.85rem;
    color: var(--Very-Dark-Grayish-Blue);
    font-weight: 700;
}

.card .card-body .group .group-info .date {
    font-size: 0.85rem;
    color: var(--Desaturated-Dark-Blue);
}

.card .card-body .card-body-content .group.first .group-child.second .bg-img {
    background-color: var(--Light-Grayish-Blue);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.card .card-body .card-body-content .group.second {
    position: absolute;
    background-color: var(--Very-Dark-Grayish-Blue);
    display: flex;
    flex-direction: row;
    width: 270px;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    display: none;
    padding: 20px;
    height: 40px;
    border-radius: 0px 0px 10px 10px;
}

.card .card-body .card-body-content .group.second .group-child.first ul {
    padding: 0 !important;
    margin: 0;
    list-style: none;
    background-color: var(--Very-Dark-Grayish-Blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    color: var(--Light-Grayish-Blue);
    font-size: 0.65rem;
    font-weight: 200;
    letter-spacing: 5px;
    padding: 10px 20px;
    border-radius: 5px;
}

.card .card-body .card-body-content .group.second .group-child.second {
    background-color: var(--Desaturated-Dark-Blue);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.card .card-body .card-body-content .group.second .group-child.second img {
    filter: drop-shadow(0px 100px 0 white);
    transform: translateY(-100px);
}


/* DESKOP */
.card .card-body .card-body-content .group .link {
    display: none;
}


@media only screen and (min-width: 1000px) {
    .container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 150px;
    }

    .card {
        display: flex;
        flex-direction: row;
        width: 800px;
    }

    .card .card-header {
        width: 40%;
    }


    .card .card-header img {
        border-radius: 5px 0px 0px 5px;
    }

    .card .card-body {
        width: 60%;
    }

    .card .card-header img {
        height: 100%;
    }

    .card .card-body .card-body-content {
        position: relative;
    }

    .card .card-body .card-body-content .group .bg-img:hover {
        background-color: var(--Very-Dark-Grayish-Blue);
        transition: 0.2s;
    }

    /* GROUP LINKS  */
    .card .card-body h2 {
        margin-top: 30px;
    }

    .card .card-body .card-body-content .group.first {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .card .card-body .card-body-content .group.second {
        top: -70px;
        right: -64px;
        padding: 0 10px;
        border-radius: 5px;
        width: 180px;
        align-items: center;
        justify-content: center;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .card .card-body .card-body-content .group.second:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 15px solid var(--Very-Dark-Grayish-Blue);
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        bottom: -14px;


    }

    .card .card-body .card-body-content .group.second .group-child.second {
        display: none;
    }

    .change-bg {
        background-color: var(--Very-Dark-Grayish-Blue) !important;
        overflow: hidden;
    }

    .change-icon {
        filter: drop-shadow(0px 100px 0 white);
        transform: translateY(-100px);
    }

}